a,p,h1,th{
	color:yellow;
	font-family:Arial;
	font-family: 'Freckle Face', cursive;
	text-shadow:-3px 0 blue, 0 3px blue, 3px 0 blue, 0 -3px blue;	
}
body{
	background-image: url("https://media.giphy.com/media/3oEdv5e5Zd2gsczAhG/giphy.gif");
	background-repeat:no-repeat;
	background-size: cover;
}
table{
	border:black dotted;

}
a:link {
    color:red;
    text-decoration:none;
}
a:visited {
    color:turquoise;     
}
a:hover {
    color:grey;   
}