div{
	width: 0;
	height: 0;
	border-top: 75px solid transparent;
	border-left: 300px solid red;
	border-bottom: 100px solid transparent;
}
a,p,h1,th,h2{
	color:yellow;
	font-family:Arial;
	font-family: 'Freckle Face', cursive;
	text-shadow:-3px 0 blue, 0 3px blue, 3px 0 blue, 0 -3px blue;	
}
a:link {
    color:red;
    text-decoration:none;
}
a:visited {
    color:turquoise;     
}
a:hover {
    color:grey;
}
body{
	background-image: url("https://media.giphy.com/media/zp5LrOqKscjPW/giphy.gif");
	background-repeat:no-repeat;
	background-size: cover;
}